In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
prix_kWh = 0.1544 # en €, pas de prise en compte heures pleines/creuses ici
prix_Wh = prix_kWh/1000

# According to Direct Energie, ma conso annuel
# 10300 kW in 2020
# 7000 kW something in 2021

In [4]:
data_path = './data/106852613-CROUZET-SÉBASTIEN.csv'

In [19]:
df = pd.read_csv(data_path, sep=";", usecols=[1, 2])

In [21]:
#df.index = df.index.str.replace('+01:00','',regex=False) 
format = '%d/%m/%Y %H:%M:%S'
df.Date = pd.to_datetime(df.Date, format=format)
df = df.set_index('Date')
#df.index = pd.DatetimeIndex(df.asfreq(freq='30min'))
#df.index = df.index.tz_convert("Europe/London")

In [23]:
df['Consommation'] = df['Consommation'].str.replace(' kWh','') 
df['Consommation'] = df['Consommation'].astype(float)
df

                     Consommation
Date
2020-12-18 00:00:00         0.183
2020-12-18 00:30:00         0.103
2020-12-18 01:00:00         0.136
2020-12-18 01:30:00         0.061
2020-12-18 02:00:00         0.122
...                           ...
2021-12-15 22:00:00         1.897
2021-12-15 22:30:00         2.506
2021-12-15 23:00:00         1.278
2021-12-15 23:30:00         0.205
2021-12-16 00:00:00         0.079

[16257 rows x 1 columns]

In [28]:
df.index[-1]

Timestamp('2021-12-16 00:00:00')

In [29]:
start_time = df.index[0]
end_time = df.index[-1]
full_date = pd.date_range(start=start_time, end=end_time, freq='30min')

In [30]:
full_date

DatetimeIndex(['2020-12-18 00:00:00', '2020-12-18 00:30:00',
               '2020-12-18 01:00:00', '2020-12-18 01:30:00',
               '2020-12-18 02:00:00', '2020-12-18 02:30:00',
               '2020-12-18 03:00:00', '2020-12-18 03:30:00',
               '2020-12-18 04:00:00', '2020-12-18 04:30:00',
               ...
               '2021-12-15 19:30:00', '2021-12-15 20:00:00',
               '2021-12-15 20:30:00', '2021-12-15 21:00:00',
               '2021-12-15 21:30:00', '2021-12-15 22:00:00',
               '2021-12-15 22:30:00', '2021-12-15 23:00:00',
               '2021-12-15 23:30:00', '2021-12-16 00:00:00'],
              dtype='datetime64[ns]', length=17425, freq='30T')